/* Global style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12%;
    background-color:#5325258f;
    ;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #3f0101e1;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #020101;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}
ul li ul.dropdown li{
   display:block; 
   background:#333;
   margin: 2px 0px;

}
ul li ul.dropdown{
    width:auto;
    background:#745b5b
    position absolute;
    z-index:999;
    display:none;
}
ul li a:hover{
   background: #222;
}
ul li:hover ul.dropdown{
    display:block;
}
.navbar a:hover,
.navbar a.active {
    color: #fdfcfc;
}
ul li:hover ul.dropdown{
    display:black;
}

.footer{
    text-align: center;
    background-color:#5325258f;
    ;
    color: #181717;
    padding: 25px 12%;
    font-size: 14px;
    width: 100%;
}

.bfriends{
    width: 100%;
    min-height: 63vh;
    background: #5325258f;
    color: #F9EBDE;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.bfriends-img img {
    position: relative;
    width: 130%;
    height: 130%;
    border-radius: 20%;
    box-sizing: border-box;
}

.bfriends-cont h1 {
    font-size: 42px;
    line-height: 1.2;
}

.bfriends-cont p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.friends {
    width: 100%;
    min-height: 80vh;
    background: #F9EBDE;
    color: #484545;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.friends-cont h1 {
    font-size: 52px;
    line-height: 1.2;
}

.friends-cont p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.friends-img img{
    position: relative;
    width:140%;
    height:120%;
    border-radius: 20%;
    cursor: pointer;
    box-sizing: border-box;
}

.friends2{
    width: 100%;
    min-height: 63vh;
    background: #5325258f;
    color: #F9EBDE;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.friends2-img img {
    position: relative;
    width: 120%;
    height: 125%;
    border-radius: 20%;
    box-sizing: border-box;
}

.friends2-cont h1 {
    font-size: 42px;
    line-height: 1.2;
}

.friends2-cont p {
    font-size: 18px;
    margin: 25px 0 30px;
}
.friends3 {
    width: 100%;
    min-height: 63vh;
    background:#F9EBDE;
    color:#484545;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.friends3-cont h2 {
    font-size: 42px;
    line-height: 1.2;
}

.friends3-cont p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.Friends3-img img {
    position: relative;
    width: 140%;
    height:250%;
    border-radius: 10%;
    box-sizing: border-box;
}




